$screen-xl-desktop: 1400px;
$screen-xxl-desktop: 1360px;
$screen-lg-desktop: 1220px;
$screen-md-desktop: 1024px;
$screen-lg-tablet: 992px;
$screen-tablet: 768px;
$screen-mobile_lg: 610px;
$screen-mobile: 500px;


// height
$screen-lg-h: 990px;

@mixin xl_desktop {
    @media (max-width: #{$screen-xl-desktop}) {
        @content;
    }
}

@mixin xxl_desktop {
    @media (max-width: #{$screen-xxl-desktop}) {
        @content;
    }
}

@mixin lg_desktop {
    @media (max-width: #{$screen-lg-desktop}) {
        @content;
    }
}

@mixin md_desktop {
    @media (max-width: #{$screen-md-desktop}) {
        @content;
    }
}
@mixin lg_tablet {
    @media (max-width: #{$screen-lg-tablet}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$screen-tablet}) {
        @content;
    }
}

@mixin mobile_lg {
    @media (max-width: #{$screen-mobile_lg}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$screen-mobile}) {
        @content;
    }
}

// height
@mixin lg_height {
    @media (min-height: #{$screen-lg-h}) {
        @content;
    }
}